.App {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-nav {
  padding: 8px;
}

.App-nav-item {
  display: inline-block;
  padding: 8px;
  margin: 2px;
  background-color: blanchedalmond;
  cursor: pointer;
}

.App-nav-item:hover,
.App-nav-item.selected {
  background-color: #555;
  color: #fff;
}

.App-body {
  padding: 64px;
  font-size: large;
}
