.Post {
  cursor: default;
  border-bottom: 1px solid lightslategray;
  padding: 8px;
}

.Post-id {
  color: red;
  margin-right: 8px;
}

.Post:hover {
  background-color: ghostwhite;
}

.Post.selected {
  font-weight: bold;
}
