.Post {
  position: relative;
  cursor: default;
  border-bottom: 1px solid lightslategray;
  padding: 8px;
}

.Post-id {
  color: red;
  margin-right: 8px;
}

.Post-votes {
  position: absolute;
  right: 0;
  display: none;
}

.Post-votes button {
  position: relative;
  top: -2px;
  border: none;
  background-color: lightslategray;
  color: ghostwhite;
}

.Post-votes span {
  margin: 8px;
}

.Post:not(.selected):hover {
  background-color: ghostwhite;
}

.Post.selected {
  font-weight: bold;
}

.Post.selected .Post-votes {
  display: inline;
}
